/*  
  MODULES
*/
/*  
  Delete default styles
*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

/*  
  END Delete default styles
*/
/* 
  MENU AND HEADER
*/
/* 
  MENU AND HEADER MOBILE
*/
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 44px;
  width: 100%;
  background-color: #FFFFFF;
}
.header .logo {
  margin: 10px 16px;
  width: 24px;
  height: 24px;
}
.header .logo .img-logo {
  width: 100%;
  height: auto;
}
.header .menu-box {
  margin: 16px;
  align-items: center;
}
.header .menu-box #menu-drop {
  height: 12px;
  width: 20px;
  visibility: hidden;
  position: absolute;
}
.header .menu-box #menu-drop:checked ~ .label-menu .menu-bar {
  display: none;
}
.header .menu-box #menu-drop:checked ~ .label-menu .menu-x {
  display: inline;
}
.header .menu-box #menu-drop:checked ~ .list-menu {
  visibility: visible;
  height: 180px;
  opacity: 1;
}
.header .menu-box #menu-drop:checked ~ .list-menu .link-menu {
  opacity: 1;
  line-height: 28px;
}
.header .menu-box .label-menu .menu-bar {
  position: relative;
}
.header .menu-box .label-menu .menu-x {
  display: none;
  position: relative;
}
.header .menu-box .label-menu:hover {
  cursor: pointer;
}
.header .menu-box .list-menu {
  position: absolute;
  top: 44px;
  left: 0;
  visibility: hidden;
  width: 100%;
  background-color: #0000FF;
  height: 0;
  opacity: 1;
  transition: height 0.25s;
}
.header .menu-box .list-menu .link-menu {
  display: flex;
  font-family: "IBM Plex Mono", monospace;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 0;
  margin: 12px 16px 12px;
  color: #FFFFFF;
  background-color: #0000FF;
  font-weight: 300;
  opacity: 0;
  transition: opacity 1.5s;
  -webkit-transition: opacity 1.5s;
}
.header .menu-box .list-menu :last-child {
  margin-bottom: 16px;
}
.header .menu-box .list-menu .link-menu:hover {
  color: #00F0B8;
  text-decoration: line-through;
}
.header .menu-box .list-menu .link-menu:active {
  color: #060A24;
}

/* 
  END MENU AND HEADER MOBILE
*/
/* 
  MENU AND HEADER TABLET
*/
@media (min-width: 771px) {
  .header {
    align-items: center;
    height: 80px;
  }
  .header .logo {
    margin: 22px 70px;
    width: 36px;
    height: 36px;
  }
  .header .menu-box {
    display: flex;
    margin: 0;
  }
  .header .menu-box #menu-drop {
    display: none;
  }
  .header .menu-box .label-menu {
    display: none;
  }
  .header .menu-box .list-menu {
    position: relative;
    top: 0;
    visibility: visible;
    background-color: #FFFFFF;
    display: flex;
    height: 80px;
  }
  .header .menu-box .list-menu .link-menu {
    position: relative;
    line-height: 28px;
    margin: 20px 18px;
    color: #060A24;
    background-color: #FFFFFF;
    opacity: 1;
  }
  .header .menu-box .list-menu :last-child {
    margin-right: 35px;
  }

  /* 
    END MENU AND HEADER TABLET
  */
  /* 
    MENU AND HEADER DESKTOP
  */
}
@media (min-width: 771px) and (min-width: 1440px) {
  .header .logo {
    margin: 22px 100px;
  }

  .header .menu-box .list-menu .link-menu {
    margin: 26px 24px;
  }

  .header .menu-box .list-menu :last-child {
    margin-right: 100px;
  }

  /* 
    END MENU AND HEADER DESKTOP
  */
}
/*
  END MENU AND HEADER
*/
/* 
  WELCOME
*/
/* 

  WELCOME MOBILE
*/
.welcome {
  padding: 16px;
}
.welcome .title {
  margin-top: 13px;
  margin-bottom: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  line-height: 42px;
  color: #060A24;
  font-weight: 300;
}
.welcome .title .strikethrough {
  text-decoration: line-through;
}
.welcome .title .slice {
  display: block;
}
.welcome .paragraph {
  font-family: "IBM Plex Mono", monospace;
  font-size: 13px;
  line-height: 22px;
  font-weight: 300;
}
.welcome .button {
  display: block;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  color: #060A24;
  background: #00F0B8;
  border: none;
  width: 100%;
  height: 48px;
  margin-top: 36px;
  margin-bottom: 20px;
  transition: all 0.35s;
}
.welcome .button:hover {
  color: #FFFFFF;
  background: linear-gradient(to right, #00F0B8, #0000FF);
  cursor: pointer;
}

/* 
  END WELCOME MOBILE
*/
/* 
  WELCOME TABLET
*/
@media (min-width: 771px) {
  .welcome {
    margin-left: 80px;
  }
  .welcome .title {
    margin-top: 40px;
    margin-bottom: 8px;
    font-size: 50px;
    line-height: 60px;
  }
  .welcome .title .slice {
    display: inline;
  }
  .welcome .paragraph {
    font-size: 16px;
    line-height: 24px;
    width: 400px;
  }
  .welcome .button {
    font-size: 18px;
    line-height: 24px;
    width: 226px;
    height: 56px;
    margin-top: 46px;
    margin-bottom: 5px;
  }
}
/* 
  END WELCOME TABLET
*/
/* 
  WELCOME DESKTOP
*/
@media (min-width: 1440px) {
  .welcome {
    margin-left: 200px;
  }
  .welcome .title {
    margin-top: 120px;
    margin-bottom: 0;
    font-size: 64px;
    line-height: 84px;
  }
  .welcome .paragraph {
    width: 626px;
  }
  .welcome .button {
    margin-top: 56px;
  }
}
/* 
  END WELCOME DESKTOP
*/
/* 
  END WELCOME
*/
/* 
  EPISODES
*/
/* 
  EPISODES MOBILE
*/
.episodes {
  padding: 11px;
}
.episodes.background-skewed {
  position: relative;
}
.episodes.background-skewed::after {
  display: block;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  transform: skew(0, -5deg);
}
.episodes .title {
  position: relative;
  margin-top: 45px;
  margin-left: 5px;
  margin-bottom: 21px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  line-height: 42px;
  color: #060A24;
  font-weight: 300;
  color: #FFFFFF;
  z-index: 10;
}
.episodes .episodes-container {
  margin: 0 auto;
  max-width: 1440px;
}
.episodes .episodes-container .tracks .podcast {
  position: relative;
  z-index: 10;
  margin-bottom: 11px;
  border: 0;
  background-color: transparent;
  width: 100%;
  height: 232px;
}
.episodes .episodes-container .tracks .podcast.last-audio {
  margin-bottom: 110px;
}

/* 
  END EPISODES MOBILE
*/
/* 
  EPISODES TABLET
*/
@media (min-width: 771px) {
  .episodes {
    padding: 15px;
  }
  .episodes.background-skewed::after {
    top: 60px;
  }
  .episodes .episodes-container .title {
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 26px;
    font-size: 48px;
    line-height: 62px;
  }
  .episodes .episodes-container .tracks {
    align-self: center;
    display: flex;
    width: 100%;
    margin: 0 0 0 15px;
  }
  .episodes .episodes-container .tracks .podcast {
    margin-right: 25px;
    margin-bottom: 25px;
    width: 584px;
  }
  .episodes .episodes-container :last-child {
    margin-bottom: -60px;
  }
}
/* 
  END EPISODES TABLET
*/
/* 
  EPISODES DESKTOP
*/
@media (min-width: 1440px) {
  .episodes {
    padding: 11px;
  }
  .episodes .title {
    margin-top: 186px;
    margin-left: 200px;
  }
  .episodes .episodes-container .tracks {
    margin-left: 17px;
  }
  .episodes .episodes-container .tracks .podcast {
    margin-left: 72px;
    margin-bottom: 72px;
  }
  .episodes .episodes-container :last-child {
    margin-bottom: 53px;
  }
}
/* 
  END EPISODES DESKTOP
*/
/* 
  END EPISODES
*/
/* 
  ORIGIN
*/
/* 
  ORIGIN MOBILE
*/
.origin {
  margin-bottom: -30px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  z-index: 10;
}
.origin .img-origin {
  position: relative;
  width: 300px;
  height: 486.5px;
  top: -75px;
  margin-bottom: 27px;
}
.origin .origin-container {
  position: relative;
  top: -75px;
  margin: 0 16px;
}
.origin .origin-container .title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  line-height: 42px;
  color: #060A24;
  font-weight: 400;
  margin-bottom: 8px;
}
.origin .origin-container .paragraph {
  font-family: "IBM Plex Mono", monospace;
  font-size: 13px;
  line-height: 22px;
  color: #060A24;
  font-weight: 300;
}

/* 
  END ORIGIN MOBILE
*/
/* 
  ORIGIN TABLET
*/
@media (min-width: 771px) {
  .origin {
    margin-bottom: 0;
  }
  .origin .img-origin {
    width: 300px;
    height: 486.5px;
    top: 0;
    margin: 0 10px 0 45px;
  }
  .origin .origin-container {
    top: 90px;
  }
  .origin .origin-container .title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 24px;
  }
  .origin .origin-container .paragraph {
    font-size: 14px;
    line-height: 24px;
    width: 320px;
  }
}
/* 
  END ORIGIN TABLET
*/
/* 
  ORIGIN DESKTOP
*/
@media (min-width: 1440px) {
  .origin .img-origin {
    width: 457.6px;
    height: 742.5px;
    top: -50px;
    margin: 0 62.4px 0 0;
  }
  .origin .origin-container {
    top: 170px;
  }
  .origin .origin-container .title {
    font-size: 48px;
    line-height: 62px;
    color: #060A24;
  }
  .origin .origin-container .paragraph {
    font-size: 16px;
    width: 464px;
  }
}
/* 
  END ORIGIN DESKTOP
*/
/* 
  END ORIGIN
*/
/* 
  INTERVIEWS
*/
/* 
  INTERVIEWS MOBILE
*/
.interviews .title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  line-height: 42px;
  color: #060A24;
  font-weight: 400;
  margin: 0 16px 14px 16px;
}
.interviews .img-container {
  display: flex;
  flex-direction: column;
}
.interviews .img-container .img-box {
  width: 100%;
  height: auto;
  margin-bottom: -1px;
}

/* 
  END INTERVIEWS MOBILE
*/
/* 
  INTERVIEWS TABLET
*/
@media (min-width: 771px) {
  .interviews .title {
    font-size: 40px;
    line-height: 50px;
    margin: 50px 0 36px 100px;
  }
  .interviews .img-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .interviews .img-container .img-box {
    width: 50%;
    height: 50%;
  }
}
/* 
  END INTERVIEWS TABLET
*/
/*
  INTERVIEWS DESKTOP
*/
@media (min-width: 1440px) {
  .interviews .title {
    font-size: 48px;
    line-height: 62px;
    margin: 0 0 36px 200px;
  }
  .interviews .img-container .img-box {
    width: 33.3%;
    height: 33.3%;
  }
}
/* 
  END INTERVIEWS DESKTOP
*/
/* 
  END INTERVIEWS
*/
/* 
  TOPICS
*/
/* 
  TOPICS
*/
.topics .title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  line-height: 42px;
  color: #060A24;
  font-weight: 400;
  margin: 48px 16px 24px 16px;
}
.topics .topic-container {
  display: flex;
  flex-direction: column;
}
.topics .topic-container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topics .topic-container .card .img-topic {
  padding: 13px 0;
  max-width: 300px;
}
.topics .topic-container .card .subtitle {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #060A24;
  font-weight: 600;
  text-align: center;
  margin: 0 16px 52px 16px;
}

/* 
  END TOPICS
*/
/* 
  TOPICS TABLET
*/
@media (min-width: 771px) {
  .topics .title {
    font-size: 40px;
    line-height: 50px;
    margin: 50px 0 56px 90px;
  }
  .topics .topic-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .topics .topic-container .card {
    width: 40%;
  }
  .topics .topic-container .card .img-topic {
    margin-bottom: 16px;
  }
}
/* 
  END TOPICS TABLET
*/
/* 
  TOPICS DESKTOP
*/
@media (min-width: 1440px) {
  .topics .title {
    font-size: 48px;
    line-height: 62px;
    margin: 64px 0 56px 200px;
  }
  .topics .topic-container {
    flex-wrap: nowrap;
  }
  .topics .topic-container .card {
    width: 260px;
  }
}
/* 
  END TOPICS DESKTOP
*/
/* 
  END TOPICS
*/
/* 
  NOVELTIES
*/
/* 
  NOVELTIES MOBILE
*/
.novelties {
  padding: 16px;
  margin-bottom: -15px;
  overflow: hidden;
}
.novelties.background-skewed {
  position: relative;
}
.novelties.background-skewed::after {
  display: block;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  position: absolute;
  content: "";
  width: 100%;
  height: 110%;
  z-index: 0;
  top: 33px;
  left: 0;
  transform: skew(0, -5deg);
}
.novelties .title {
  position: relative;
  z-index: 10;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
  font-weight: 300;
  text-align: center;
  margin: 50px 0 36px 0;
}
.novelties .button {
  position: relative;
  z-index: 10;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: #060A24;
  background: #00F0B8;
  border: none;
  width: 100%;
  height: 48px;
  margin-bottom: 67px;
  transition: all 0.35s;
}
.novelties .button:hover {
  color: #FFFFFF;
  background: linear-gradient(to right, #00F0B8, #0000FF);
  cursor: pointer;
}

/* 
  END NOVELTIES MOBILE
*/
/* 
  NOVELTIES TABLET
*/
@media (min-width: 771px) {
  .novelties {
    margin-bottom: -5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .novelties.background-skewed::after {
    top: 65px;
    transform: skew(0, -6.1 deg);
  }
  .novelties .title {
    font-size: 40px;
    line-height: 50px;
    margin: 140px 0 36px 0;
  }
  .novelties .button {
    width: 345px;
    height: 56px;
    margin-bottom: 55px;
  }
}
/* 
  END NOVELTIES TABLET
*/
/* 
  NOVELTIES DESKTOP
*/
@media (min-width: 1440px) {
  .novelties.background-skewed::after {
    top: 90px;
  }
  .novelties .title {
    font-size: 48px;
    line-height: 62px;
    margin: 197px 0 36px 0;
  }
  .novelties .button {
    margin-bottom: 139px;
  }
}
/* 
  END NOVELTIES DESKTOP
*/
/* 
  END NOVELTIES
*/
/* 
  FOOTER
*/
/* 
  FOOTER MOBILE
*/
.footer-section {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
}
.footer-section .footer-text {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  line-height: 22px;
  color: #060A24;
  font-weight: 300;
  margin: 24px 0 16px 0;
}
.footer-section .icon-container {
  margin-left: 45px;
  margin-right: 45px;
  display: flex;
}
.footer-section .icon-container .fab {
  width: 16px;
  margin: 0 19px 31px;
}

/* 
  END FOOTER MOBILE
*/
/*   
  FOOTER TABLET
*/
@media (min-width: 771px) {
  .footer-section {
    width: 100%;
    height: 120px;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-section .footer-text {
    font-size: 16px;
    line-height: 28px;
    margin: 36px 0 31px 50px;
  }
  .footer-section .icon-container {
    margin-right: 30px;
  }
  .footer-section .icon-container .fab {
    width: 18px;
    margin: 36px 19px 31px;
  }
}
/* 
  END FOOTER TABLET
*/
/* 
  FOOTER DESKTOP
*/
@media (min-width: 1440px) {
  .footer-section {
    height: 130px;
    flex-direction: row;
  }
  .footer-section .footer-text {
    margin: 36px 0 31px 100px;
  }
  .footer-section .icon-container {
    margin-right: 81px;
  }
}
/* 
  END FOOTER DESKTOP
*/
/* 
  END FOOTER
*/

/*# sourceMappingURL=index.css.map */
