/*  
  Delete default styles
*/

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

body{
  max-width: 1440px;
  margin: 0 auto;

}

/*  
  END Delete default styles
*/