// /* 
// COLORS
//  */
$blue-podcast: #0000FF;
$dark-blue-podcast: #0000A3;
$white-podcast: #FFFFFF;
$green-podcast: #00F0B8;
$green-button: #00F3BB;
$black-text: #060A24;

// /* 
// FONT FAMILIES
//  */
$font-mono: 'IBM Plex Mono', monospace;
$font-sans: 'IBM Plex Sans', sans-serif;
